@import "tailwindcss";

:root {
  --primary-color: #0e7c3c; /* default color */
}


/* global.css or index.css */
html, body {
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5, h6{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.rotate-continuous {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
